<!DOCTYPE html>
<html lang="en">
  <head>
    {{ content_for_header }}
  </head>
  <body>
    {% comment %} {% section 'header' %} {% endcomment %}
    {% sections 'header-group' %}
    {{ content_for_layout }}

  </body>
</html>