<!DOCTYPE html>
<html lang="en">
  <head>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url  }}" media="print" onload="this.media='all'">
    {% comment %} {{ 'theme.css' | asset_url | stylesheet_tag }} {% endcomment %}
  </head>
  <body>
    {% comment %} {% section 'header' %} {% endcomment %}
    {% sections 'header-group' %}
    {{ content_for_layout }}

  </body>
</html>